.home_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url('../../../assets/FeaturedCoverImage.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    padding-left: 167px;
    padding-top: 80px;
    gap: 20px;
    .title {
        font-size: 20px;
        color: #858688;
    }

    .main—title_and_video_img {
        height: 150px;
        width: 300px;
        object-fit: scale-down;
        object-position: left;
    }

    .date_title {
        font-size: 22px;
    }

    .description {
        font-size: 24px;
        max-width:50%;
    }


    .mainButtonContainer {
        display: flex;
        gap: 18px;
        .main_button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            width: 240px;
            height: 72px;
            border-radius: 40px;
            background: white;
            border: none;
            outline: none;
            color: #0C0C0C;
            font-size: 32px;
            cursor: pointer;
        }

        .more_info {
            color: #F1F1F1;
            background: transparent linear-gradient(128deg, #2727F5 0%, #001671 100%) 0% 0% no-repeat padding-box;
        }
    }

    .move_item_container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        // padding-left: 167px;
        margin-top: auto;

        .title {
            color: #F1F1F1;
            font-size: 32px;
        }
        .item_parent {
            gap: 8px;
            margin-bottom: 10px;
            .items {
                width: 200px;
                height: 278px;
                cursor: pointer;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border: none;
                outline: none;
            }
        }
    }
}

.slick-slider {
    .slick-arrow {
        display: none !important;
    }
}


